body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2, form > label {
  font-size: 22px;
}

textarea {
  width: 600px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.select-engine {
  font-size: 15px;
  font-weight: bold;
}

.submit-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

button {
  width: 100px;
  height: 35px;
  margin-top: 15px;
  background-color: #2a66de;
  border: 2px solid #2a66de;
  border-radius: 4px;
  align-content: flex-end;
  font-size: 17px;
  color: #ffffffef;
}

.response {
  display: flex;
  justify-content: space-between;
}

.response-card {
  width: 600px;
  padding: 7px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #e6e3e3;
}

.card-row {
  display: flex;
}

.card-row > h4 {
  width: 100px;
  margin: 15px;
}

.card-row > p {
  width: 485px;
  margin: 15px;
  align-self: stretch;
}